{% extends 'base.html.twig' %}

{% block title %}Promoters{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
<h1>Promoters</h1>
<table class="table table-striped">
    <thead>
    <tr>
    <td class="">Promoter name</td>
    </tr>
    </thead>
    <tbody>
    {% for promoter in promoters %}
    <tr>
        <td>{{promoter.name}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}