{% extends 'base.html.twig' %}

{% block title %}Yeast Database{% endblock %}

{% block body %}
<h1>Yeast database</h1>
Greetings, fellow yeast collector, <a href="/login" class="">sign in</a>, or <a href="/register" class="">register</a> otherwise!
{% endblock %}
