{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Dashboard</h1>
Hello {{ app.user.username }}, welcome to your collection!

<h5 class='mt-3'>This is a video on how to use this demo:</h5>
<div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/34GMuHpl7f0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



{% endblock %}

