svg
{
    border-style: solid;
    border-width: 1px;
}
.allele
{
    border-style: solid;
    border-width: 5px;
    stroke: black;
    stroke-width: 3px;
}
.line {
    fill: none;
    stroke-width:3px;
}
.truncation
{
    fill:#D75455;
}

.main
{
    fill: #39A596;
}

.pointMutation
{
    stroke-width: 2px;
    /* stroke:; */
}

.tag
{
    fill:#B7C234;
}

.marker
{
    fill:#20415C;
}

.promoter
{
    fill:#FCC619;
}