{% extends 'base.html.twig' %}

{% block body %}
<h1>Delete a gene from a strain</h1>
{{form_start(form)}}
{% include "forms/strain_source/molbiol_allele_deletion_type.html.twig" with {'form': form} %}
{{form_end(form)}}
{% endblock %}

