{% extends 'strain/source/new.html.twig' %}


{% block create_body %}

<h2>Create a custom allele</h2>
<p class="">Create your custom allele and document the resources used</p>
{{form_start(form)}}
{% include "forms/strain_source/molbiol_allele_chunky_type.html.twig" %}
{{form_end(form)}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}