{% extends 'strain/source/new.html.twig' %}
{% block create_body %}
<h2>Custom method</h2>
<p class="">This method creates a custom strain</p>
<button type = "button" id = "add_allele" class = 'btn btn-secondary'>Add allele</button>
{{ form(form) }}
{% endblock %}