{% extends 'base.html.twig' %}

{% block body %}
<h1>Create new allele in a strain</h1>

{{form_start(form)}}
{% include "forms/strain_source/molbiol_type.html.twig" with {'form': form,'allele_form_template': allele_form_template} %}
{{form_end(form)}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}    
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}