{% extends 'base.html.twig' %}

{% block body %}
<h1>Modify a protein gene by transforming with a plasmid</h1>

{{form_start(form)}}
{% include "forms/strain_source/molbiol_allele_chunky_type.html.twig" with {'form': form} %}
{{form_end(form)}}
{% endblock %}

