{% extends 'base.html.twig' %}

{% block title %}Hello DummyController!{% endblock %}

{% block body %}

<h1>Hello </h1>
{% include "forms/locusPicker.html.twig"  with {'form': form}%}
<button id = "my_button" class = 'btn btn-primary'>Click me</button>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}