{% extends 'base.html.twig' %}

{% block title %}Hello DummyController!{% endblock %}

{% block body %}

<h1>Hello </h1>
{{form_start(form)}}
<div class='form-inline'>
{% include "forms/strain_picker.html.twig"  with {'form': form.strain}%}
</div>
{{form_row(form.submit)}}
{{form_end(form)}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}