{% extends 'base.html.twig' %}

{% block title %}Import list of oligos{% endblock %}

{% block body %}
<h1>Import list of oligos</h1>
<p>Here you can import a list of oligos from a csv in the format "name, details, sequence", separated by commas</p>
{{ form(form) }}
{% endblock %}