{% block body %}
<div>Locus</div>
<div class="form-inline">
{% include "forms/locus_picker.html.twig"  with {'form': form.locus}%}
</div>
{% endblock body %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
