<li class="nav-item dropwdown current_ancestor last show">
	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Dropdown</a>
	<ul class="dropdown-menu menu_level_1">

		<li class="dropdown-item current first last">
			<a href="/">Item 1</a>
		</li>


	</ul>

</li>
