{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
<h1>Promoters</h1>
<table class="table table-striped">
    <thead>
    <tr>
    <td class="">Tag name</td>
    <td class="">Tag color</td>
    </tr>
    </thead>
    <tbody>
    {% for tag in tags %}
    <tr>
        <td>{{tag.name}}</td>
        <td><font color="{{tag.color}}">{{tag.color}}</font></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}